<div class="jumbotron">
    <h1>SoftServer</h1>
    <p class="lead">WebAPI do aplicativo SAC Mobile Burgman.</p>
    <p><a href="http://softserver.com.br/" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>
<div class="navbar">
    <div class="nav-justified">
        <h2>Para começar</h2>
        <p>SAC Mobile Burgman Web API é um framework em ASP.Net que facilita a construção de serviços REST HTTP que alcançam uma grande 
        variedade de clientes incluindo Mobile, Browsers e aplicações locais. É a plataforma ideal para construção de serviços 
        REST baseados em .Net .</p>
    </div>
</div>
